body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    /*background-colour: skyblue;*/
    background-image: url("/home/suplo/Documents/VSCODE Projects/Non Salesforce/flappy/assets/flappybirdbkgd.png");
}